<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card mt-5 p-4">
                        <h3 class="text-center font-weight-bold text-white">Add new contact</h3>
                        <form th:action="@{/user/process-contact}" 
                        method="post" enctype="multipart/form-data" th:object="${contact}">

                            <!-- first Name field -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                                <input type="text" name="name" placeholder="Enter Name here" 
                                class="form-control" required/>
                            </div>

                            <!-- second name field -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                                <input type="text" name="secondName" placeholder="Enter second name " 
                                class="form-control" required/>
                            </div>

                            <!-- email field -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-at"></i>
                                    </div>
                                </div>
                                <input type="email" name="email" placeholder="Enter email " 
                                class="form-control" required/>
                            </div>

                            <!-- work field -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-briefcase"></i>
                                    </div>
                                </div>
                                <input type="text" name="work" placeholder="Enter work " 
                                class="form-control" required/>
                            </div>

                            <!-- phone field -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                </div>
                                <input type="number" name="phone" 
                                placeholder="Enter mobile No." class="form-control" required/>
                            </div>

                            <!-- Description field -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-pen"></i>
                                    </div>
                                </div>
                                <textarea name="description" id="#mytextarea" cols="30" 
                                rows="5" class="form-control" placeholder="Enter something"></textarea>
                            </div>

                            <!-- file field -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-regular fa-image"></i>
                                    </div>
                                </div>
                                <input type="file" name="profileImage" class="form-control" 
                                id="exampleFormControlFile1">
                            </div>
                              
                            <!-- button field -->
                            <div class="container">
                                <div class="row">
                                    <div class="col md-6 text-center">
                                        <button type="submit" class="btn-block btn bg-primary text-white">Submit</button>
                                    </div>
                                    <div class="col md-6 text-center">
                                        <button type="reset" class="btn-block btn btn-warning text-white">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
          tinymce.init({
            selector: '#mytextarea'
          });
        </script>

        <script>
            $(document).ready(()=>{
                $('.item').removeClass('active');
                $('#add-link').addClass('active');
            });
        </script>

    </section>

</body>
</html>